html,body{
    height: 100%;
    
}

#container{

display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: black;
width: 848px;
height: 780px;
color:white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);


}

#container div{
    display: flex;
    height: 72px;
    width: 100px;
    background-color: brown;
    border:3px solid black;
    justify-content: center;
    align-items:  center;
    


}
